html , body {
	height: 100% ;
}
body {
	margin: 1% ;
}
#list ,
#list li {
	list-style-type: none ;
}
#list {
	display: block ;
}
#list li {
	display: inline-block ;
	margin: 0.3% ;
	padding: 5% ;
	background-size: contain ;
	background-position: center center ;
	background-repeat: no-repeat ;
	border: 3px #c0c0c0 solid ;
	outline: 1px blue dotted ;
}
#form .message-done ,
#form .message-processing {
	color: red ;
}
#form .message-processing ,
#form.processing .message-done {
	visibility: hidden ;
}
#form.processing .message-processing ,
#form .message-done {
	visibility: visible ;
}

#form.processing ~ #reload {
	display: none ;
}